@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.linkInstagram {
  box-shadow: none;
  max-width: 36rem;
}

.linkInstagram:hover {
  color: #ee7470;
}

.linkLinkedIn {
  box-shadow: none;
  max-width: 36rem;
}

.linkLinkedIn:hover {
  color: #0e76a8;
}

.linkGithub {
  box-shadow: none;
  max-width: 36rem;
}

